name: Push image to Cloud Registry

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  GCP_VERBOSITY: warning
  GCR_IMAGE: gcr-alpine


jobs:
  push-to-GCR:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4

    - name: Authenticate with Google Cloud
      uses: google-github-actions/auth@v0
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}
    
    - name: Create .env file
      run: |
        echo "${{ secrets.ENV_GO_BACK }}" > .env
      working-directory: ${{ github.workspace }}

    - name: Configure and Apply Kubernetes Ingress
      run: |
        REPO_NAME="${{ github.event.repository.name }}"
        HOST_NAME="$REPO_NAME.lumonidy.studio"
        SERVICE_NAME="$REPO_NAME-service"
        SECRET_NAME="$REPO_NAME-tls"
        
        # Reemplazar los placeholders en la plantilla de Ingress con los valores dinámicos
        sed -i "s/placeholder-repo-name/$REPO_NAME/g" ./k8s/ingress.yaml
        sed -i "s/placeholder-host-name/$HOST_NAME/g" ./k8s/ingress.yaml
        sed -i "s/placeholder-service-name/$SERVICE_NAME/g" ./k8s/ingress.yaml
        sed -i "s/placeholder-secret-name/$SECRET_NAME/g" ./k8s/ingress.yaml
        
        # Nuevo paso para mostrar el archivo Ingress
    - name: Print the Ingress configuration
      run: cat ./k8s/ingress.yaml

    - name: install the gcloud cli
      uses: google-github-actions/setup-gcloud@v0
      with:
        project_id: ${{ secrets.GCP_PROJECT }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        install_components: 'gke-gcloud-auth-plugin'
        export_default_credentials: true 

    - name: Get gcloud version & info
      run: |-
        echo '--- gcloud version ---'
        gcloud version
        echo '--- gcloud info ---'
        gcloud info --anonymize

    - name: Configure Docker to use the gcloud command-line tool as a credential helper for authentication
      run: |-
        gcloud --quiet auth configure-docker

    - name: Build the alpine-based docker image
      run: |-
        docker build . --file Dockerfile -t "gcr.io/${{ secrets.GCP_PROJECT }}/$GCR_IMAGE:$GITHUB_SHA"

    - name: Push docker image to GCR
      run: |-
        docker push "gcr.io/${{ secrets.GCP_PROJECT }}/$GCR_IMAGE:$GITHUB_SHA"

    - name: Describe pushed GCR image
      run: |-
        gcloud container images describe "gcr.io/${{ secrets.GCP_PROJECT }}/$GCR_IMAGE:$GITHUB_SHA" --verbosity=$GCP_VERBOSITY --project=${{ secrets.GCP_PROJECT }} --quiet
        grep "digest: sha256:" <<< $(gcloud container images describe "gcr.io/${{ secrets.GCP_PROJECT }}/$GCR_IMAGE:$GITHUB_SHA" --verbosity=$GCP_VERBOSITY --project=${{ secrets.GCP_PROJECT }} --quiet)

    - name: deploy to gke
      env:
        GOOGLE_PROJECT: ${{ secrets.GCP_PROJECT }}
      run: |
        gcloud container clusters get-credentials ${{ secrets.GKE_CLUSTER }} --region ${{ secrets.GKE_ZONE }}
        kubectl apply -f deploy/k8s/ingress.yaml

    - name: Debug kubectl configurations
      run: kubectl config view

    - name: Deploy
      run: |
        sed -i "s~{IMAGE_TAG}~${{ env.GCR_IMAGE }}~" deploy/k8s/deployment.yaml
        sed -i "s~{GITHUB_SHA}~${{ github.sha }}~" deploy/k8s/deployment.yaml
        cd deploy/k8s/
        kubectl apply -f deployment.yaml

    - name: Start Service
      run: |-
        cd deploy/k8s
        kubectl apply -f service.yaml  # Aplicar la configuración del servicio
